{% extends "base.html"%}

{% block container%}

<div class="container">
    <div class="row mt-4">
        <div class="col-sm-8">
            <div class="card shadow">
                <div class="card-body rounded">
                    <!-- Flash -->
                    {% with messages= get_flashed_messages(with_categories=true) %}
                    {% if messages  %}
                    {% for category, message in messages %}
                    <div class="alert alert-{{category}}" role="alert">
                        {{message}}
                    </div>
                    {% endfor %}
                    {% endif %}
                    {% endwith %}
                    <h4 class="card-title mb-3">Daftar Akun</h4>
                    <form class="mb-4" method="post">
                        {{form.hidden_tag()}}
                        <!-- NPM -->
                        <div class="form-group mb-3">
                            {{form.npm.label(class="form-control-label")}}

                            {% if form.npm.errors %}
                            {{form.npm(class="form-control is-invalid")}}
                            <div class="invalid-feedback">
                                {% for error in form.npm.errors %}
                                <span>{{error}}</span>
                                {% endfor %}
                            </div>
                            {% else %}
                            {{form.npm(class="form-control")}}

                            {% endif %}
                        </div>

                        <!-- Nama -->
                        <div class="form-group mb-3">
                            {{form.nama.label(class="form-control-label")}}
                            {{form.nama(class="form-control")}}
                        </div>

                        <!-- Email -->
                        <div class="form-group mb-3">
                            {{form.email.label(class="form-control-label")}}
                            {% if form.email.errors %}
                            {{form.email(class="form-control is-invalid")}}
                            <div class="invalid-feedback">
                                {% for error in form.email.errors %}
                                <span>{{error}}</span>
                                {% endfor %}
                            </div>
                            {% else %}
                            {{form.email(class="form-control")}}

                            {% endif %}
                        </div>

                        <!-- Password -->
                        <div class="form-group mb-3">
                            {{form.password.label(class="form-control-label")}}
                            {% if form.password.errors %}
                            {{form.password(class="form-control is-invalid")}}
                            <div class="invalid-feedback">
                                {% for error in form.password.errors %}
                                <span>{{error}}</span>
                                {% endfor %}
                            </div>
                            {% else %}
                            {{form.password(class="form-control")}}

                            {% endif %}
                        </div>

                        <!-- Konfirmasi Password -->
                        <div class="form-group mb-3">
                            {{form.conf_pass.label(class="form-control-label")}}
                            {% if form.conf_pass.errors %}
                            {{form.conf_pass(class="form-control is-invalid")}}
                            <div class="invalid-feedback">
                                {% for error in form.conf_pass.errors %}
                                <span>{{error}}</span>
                                {% endfor %}
                            </div>
                            {% else %}
                            {{form.conf_pass(class="form-control")}}

                            {% endif %}
                        </div>

                        <!-- Kelas -->
                        <div class="form-group mb-3">
                            {{form.kelas.label(class="form-control-label")}}
                            {{form.kelas(class="form-control")}}
                        </div>

                        <!-- Alamat -->
                        <div class="form-group mb-3">
                            {{form.alamat.label(class="form-control-label")}}
                            {{form.alamat(class="form-control")}}
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card shadow">
                <div class="card-body rounded">
                    <h4 class="card-title">Navigation</h4>
                    <ul class="text-custom">
                        <li><a href="{{url_for('rmahasiswa.home')}}">Home</a></li>
                        <li><a href="{{url_for('rmahasiswa.about')}}">About</a></li>
                        <li><a href="{{url_for('rmahasiswa.contact')}}">Contact</a></li>
                        <li><a href="{{url_for('rmahasiswa.data_m')}}">Data Mahasiswa</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock%}